{% extends "index/base.html" %}

{% block content %}
<h1 class="mt-3">Site policy</h1>

<details class="pt-5">
        <summary>利用環境について</summary>
        <p>当サイトでは、スタイルシート及び一部のページでJavaScriptを使用しています。快適に閲覧するために、スタイルシート及びJavaScriptを有効に設定願います。</p>
</details>
<details>
        <summary>著作権について</summary>
        <p>当サイトに掲載されている文章、イラスト、ロゴ、写真、動画、その他のすべての情報は、当サイトまたは第三者が著作権を有しております。</p>
</details>
<details>
        <summary>個人情報について</summary>
        <p>当サイトに個人情報を書き込まないでください。当サイトでは一切の責任を負いません。ご了承ください。</p>
</details>

{% endblock content %}